
body { 
     width: 90%;
     margin:0 auto;
    background-image:url("pexels-mudassir-ali-2680270.jpg");
     }
h1 {
	font-family:'SpotCookieRegular';
	font-size:400%;}

#content {
	overflow:auto;
	height:100%;}

#nav, #feature, #footer {
	background-color:yellow;
	padding:10px;
	margin:10px;}

.column1, .column2, .column3 {
	background-color:orange;
	width:31.3%;
	float:left;
	margin:1%;}

.column1{
	margin-left:0%;
	background-color:red;}
.column3 {
	margin-right: 0%
	background-color:lavender;}
li {
	display:inline;
	padding:5px;}

p {
   font-family: 'SpotCookieRegular';
   font-weight: normal;
   font-style: italic;}
