* {
         font-family: 'SingleDayRegular';
         font-weight: normal;
         font-style: normal;	
         text-align: center;}

h1 { 
         font-family: 'SingleDayRegular';
         font-weight: normal;
         font-style: normal;
         font-size: 200%;
}

body {
         font-family: 'SingleDayRegular';
         font-weight: normal;
         font-style: normal;
	 font-size:100%;
         background-image: url("cherry blossom.jpg");
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center;
         margin: 0 auto;}

#content {
	overflow: auto;}

#nav, #feature, #footer {
	margin: 1%;}

.column1, .column2, .column3 {
	width: 31.3%;
	float: left;
	margin: 1%;}

.column3 {
	margin-right: 0%;}

li {
	display: inline;
	padding: 0.5em;}

#nav, #footer {
	padding: 0.5em 0;}

#feature {
	 font-family: 'SingleDayRegular';
         font-weight: normal;
         font-style: normal;
	 font-size:200%;
         height: 10em;
         margin-bottom: 1em;
         background-color: #afeeee;
         background-image: url("s-l500.jpg");
         background-size: contain;
         background-repeat: no-repeat;
         background-position: 100% 50%;
}

#nav {
	 font-family: 'SingleDayRegular';
	 font-size:200%;
         font-weight: normal;
         font-style: normal;
         background-color:#98fb98;}
	
.article {
	height: 10em;
	margin-bottom: 1em;}

.column1 {
	 font-family: 'SingleDayRegular';
	 font-size:200%;
         font-weight: normal;
         font-style: normal;
	background-color:#e6e6fa;}

.column2 {
	 font-family: 'SingleDayRegular';
	 font-size:200%;
         font-weight: normal;
         font-style: normal;
	background-color:#dda0dd;}

.column3 {
	 font-family: 'SingleDayRegular';
	 font-size:200%;
         font-weight: normal;
         font-style: normal;
	 background-color:#ffc0cb;}

#footer {
	 font-family: 'SingleDayRegular';
	 font-size:200%;
         font-weight: normal;
         font-style: normal;
         background-color:#98fb98;}

	

	
